@{
    ViewBag.Title = "Site Speed";
}
@{
    List<sitespeed.Models.History> hist = (List<sitespeed.Models.History>)ViewData["table"];
}


<div id="box" class="jxgbox" style="width:100%; height:500px; margin-bottom: 20px;"></div>

<table class="table-bordered tb">
    @foreach (var item in hist)
    {

        <tr>
            <td>@item.SiteNode.Url</td>
            <td>@item.Time</td>
            <td>@item.Xml</td>
        </tr>
    }
</table>

