@{
    ViewBag.Title = "Site Speed";
}
@using sitespeed.ViewModel;


<div id="box" class="jxgbox" style="width:100%; height:500px; margin-bottom: 20px;"></div>

<div id="urltable">
    @Html.Partial("_TableView")
</div>

<ul  class="pager">
    @{
        List<sitespeed.ViewModel.HistoryViewModel> hst = (List<sitespeed.ViewModel.HistoryViewModel>)ViewData["graf"];
        int count = 1;
        int allCount = 0;
        for (int i = 0; i < hst.Count; i++)
        {
            allCount += hst[i].Historys.Count;
        }

    }
    @for (int i = 0; i < allCount; i = i + 40)
    {
        <li>@Ajax.ActionLink(count++.ToString(), "Next",new { query = "next", startIndex = i, pageSize = 40 }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "urltable" })</li>
    }
    
</ul>

